.hero-image {
  height: 400px;
  width: 100%;
  background-image: url("https://openweathermap.org/themes/openweathermap/assets/img/winter6.jpg");
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.105);
  height: 400px;
  width: 100%;
}

.overlay-text {
  padding-left: 10rem;
  padding-top: 5rem;
  font-weight: bolder;
  color: rgb(145, 182, 230);
}

.overlay-text h1 {
  font-size: 5rem;
  color: white;
}

.overlay-text h3 {
  font-size: 2rem;
}
